@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: squarefont;
    src: url(assets/Square.ttf);
}

@font-face {
    font-family: pixelfont;
    src: url(assets/font.TTF);
}
  
@keyframes blink {
    0% {
        border: 5px solid white;
        padding: 0px;
    }
    50% {
        border: 0px solid white;
        padding: 5px;
    }
    100% {
        border: 5px solid white;
        padding: 0px;
    }
}

@keyframes show {
    0% {
      opacity: .5;
      transform: scale(0);
    }
}

@keyframes growandshow {
    0% {
      opacity: 0%;
      max-height: 3vmin;
    }
    50% {
        opacity: 100%;
        max-height: 18vmin;
    }
    100% {
        opacity: 0%;
        max-height: 19vmin;
    }
}

.building {
    text-align: center;
    font-family: squarefont;
    color: rgb(71, 122, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vmin;
    margin-bottom: 3.5%;
    margin-left: 1.5%;
}

.building-carwash {
    background-color: rgb(223, 223, 223);
    border: 1px solid rgb(0, 0, 0);
    width: 25vmin;
    height: 34vmin;
}

.building-dea {
    background-color: rgb(36, 36, 36);
    border: 10px solid rgb(60, 60, 60);
    width: 35vmin;
    height: 35vmin;
}

.building-home {
    background-color: rgb(75, 56, 56);
    border: 2px solid black;
    font-size: 11vmin;
    width: 40vmin;
    height: 40vmin;
}

.building-lasertag {
    background-color: rgb(43, 51, 33);
    border: 5px solid rgb(0, 0, 0);
    width: 30vmin;
    height: 30vmin;
}

.building-lospolloshermanos {
    background-color: rgb(174, 174, 174);
    border: 10px solid rgb(95, 95, 95);
    width: 50vmin;
    height: 37vmin;
}

.building-nailsalon {
    background-color: rgb(86, 86, 86);
    border: 5px solid rgb(181, 181, 181);
    width: 30vmin;
    height: 30vmin;
}

.building-pawnshop {
    background-color: rgb(148, 148, 148);
    border: 5px solid rgb(75, 74, 74);
    width: 30vmin;
    height: 37vmin;
}

.building-saul {
    background-color: rgb(60, 60, 60);
    border: 5px solid rgb(181, 181, 181);
    width: 70vmin;
    height: 30vmin;
}

.center-text {
    text-align: center;
}

.chose-your-character {
    width: 95%;
    height: 50%;
    border: 5px solid rgb(41, 54, 41);
    background-color: rgb(70, 70, 70);
    background-position: bottom;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.choose-your-character-character {
    opacity: 15%;
    height: 40vmin;
}

.choose-your-character-character-choosen {
    opacity: 100%;
    height: 40vmin;
}

.choosen-item {
    animation: blink 1s infinite;
}

.cookbutton {
    font-size: 6vmin;
    font-family: pixelFont;
    color: white;
    border: 7px solid rgb(41, 54, 41);
    padding: 1%;
    background-color: rgb(71, 122, 80);
}

.element {
    padding: 5px;
    animation: growandshow 1s infinite;
}

.flip {
    transform: scaleX(-1);
}

.gone {
    opacity: 0%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container label {
    color: rgb(116, 172, 116);
    font-family: 'Roboto Mono', monospace;
    font-size: 8vmin;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.input-container input {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 7vmin;
    background-color: white;
    border: 5px solid rgb(148, 148, 148);
}

.light-green-text {
    color: rgb(116, 172, 116);
}

.modal-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(29, 32, 27);
    color: rgb(178, 217, 174);
    width: 80vmin;
    height: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header {
    font-family: squarefont;
    text-align: center;
    font-size: 5vmin;
    padding-bottom: 0;
    margin-bottom: 5%;
    margin-top: 0;
    padding-top: 0;
}

.modal-text {
    font-size: 4.5vmin;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    margin: 0;
    text-align: center;
}

.options {
    overflow: hidden;
    width: 100%;
    height: 40%;
    background-color: rgb(54, 54, 54);
    border-top: 4px solid rgb(41, 54, 41);
    display: flex;
    flex-direction: row;
}

.option {
    overflow: hidden;
    width: 50%;
    height: 96%;
    border: 5px solid rgb(41, 54, 41);
    background-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(71, 122, 80);
    font-size: 9vmin;
    font-family: squarefont;
    background-color: rgb(165, 165, 165);
    text-align: center;
}

.padding-above {
    padding-top: 11%;
}

.pixel-font {
    font-family: pixelfont;
}

.red-text {
    color: rgb(230, 63, 63);
}

.room {
    overflow: hidden;
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
}

.shop > img {
    max-width: 100px;
    max-height: 100px;
    padding: 5px;
}

.square-font {
    font-family: squarefont;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white-text {
    color: white;
}

#subtitle {
    color: rgb(116, 172, 116);
    font-family: pixelfont;
    font-size: 3.5vmin;
    text-align: center;
}

#time {
    font-family: squarefont;
    font-size: 10vmin;
    text-align: right;
    margin: 2%;
}